# Default ignored files
/../../../:character-classification/.idea/shelf/
/../../../:character-classification/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:character-classification/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:character-classification/.idea/dataSources/
/../../../:character-classification/.idea/dataSources.local.xml
